body {
	text-align: center;
	margin: 0;

	/* Display Size */
	max-height: 100dvh;
	overflow: scroll;
}

#container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	cursor: pointer;
}

#maze-container {
	margin: 1rem;
	width: 500px;
	height: 500px;
	position: relative;
}

canvas {
	background-color: #eee;
}

#controls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 500px;
}

#controls button {
	padding: 5px;
}

#controls-arrow {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 100%;
	max-width: 500px;
}

#controls-arrow button {
	margin-right: 5px;
}
