body {
	text-align: center;
	margin: 0;

	/* Display Size */
	max-height: 100dvh;
	overflow: hidden;
}

#container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#alert {
	display: none;
}

button {
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	#container {
		display: none;
	}

	#alert {
		display: flex;
		width: 100dvw;
		height: 100dvh;
		justify-content: center;
		align-items: center;
		background: white;
		flex-direction: column;
	}
}

#maze-container {
	margin: 1rem;
	width: 550px;
	height: 550px;
	position: relative;
}

canvas {
	background-color: #eee;
}

#controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
	max-width: 550px;
}
